*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
.box{
    width: 100%;
    height: 100vh;
    position: relative;
}
.box video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}
header{
    position: absolute;
    padding: 45px 0;
    display: flex;
    align-items: center;
    gap: 50px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.box p{
    position: absolute;
    color: white;
    font-size: 24px;
    top: 450px;
}
.box h1{
    position: absolute;
    color: white;
    font-size: 44px;
    top: 480px;
}
.btn{
    padding: 18px 34px;
    color: white;
    border: 1px solid white;
    position: absolute;
    top: 550px;
    background-color: inherit;
}
